@import "base.css";

.contentDiv {
  overflow-y: scroll;
  width: 100vw;
  height: 85vh;
}

.contentBox {
  position: relative;
  margin: 16.5%;
  width: 66vw;
  height: 66vw;
  background-color: rgba(50, 50, 60, 0.3);
  border-radius: 1%;
  animation: boxSize 2s;
  top: 0px;
  left: 0px;
  transition-duration: 1.5s;
  overflow: hidden;
}

.contentBox:hover {
  box-shadow: 2pt 2pt 4pt 3pt rgba(200, 200, 200, 0.4);
}

@keyframes boxSize {
  0% {
    width: 0px;
    height: 0px;
    top: 140px;
    left: 140px;
    border-radius: 50%;
    background-color: transparent;
  }
  100% {
   
    width: 66vw;
    height: 66vw;
    top: 0px;
    left: 0px;
    border-radius: 0%;
    background-color: rgba(50, 50, 60, 0.3);
  }
}
.playIcon {
  position: absolute;
  font-size: 400%;
  color: rgba(200, 200, 200, 0.9);
  top: 50%;
  left: 5%;
}

.paraBox {
  opacity: 70%;
  padding-top: 50px;
  color: seashell;
  text-align: center;
  font-size: 100%;
  text-shadow: 1pt 1pt grey;
  animation: contentPara 12s;
  transition-duration: 1.5s;
}

.paraBox:hover {
  font-size: 90%;
  opacity: 80%;
}

@keyframes contentPara {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.backgroundVideo {
  opacity: 25%;
  width: 400vw;
  position: relative;
  right: 50vw;
}

.backgroundVideo2 {
  opacity: 50%;
  width: 160vw;
  position: relative;
  right: 15vw;
}
.videoDiv {
  width: 100vw;
  height: 85vh;
  position: absolute;
  overflow: hidden;
}


