@import "base.css";
/* Mapbox Element */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 40%;
}
/* Marker for Mapbox */
.marker {
  background-image: url(./src/pic/727720_antenna_512x512.png);
  background-color: rgba(255, 131, 0, 0.6);
  background-size: 90%;
  width: 12.5%;
  border: 2pt;
  box-shadow: 3pt 1pt 1pt 1pt rgba(5, 5, 5, 0.8);
  height: 12.5%;
  border-radius: 50%;
  cursor: auto;
}

.mapboxgl-popup {
  width: 30%;
  height: 30%;
  opacity: 70%;
}

.mapboxgl-popup-content {
  font-size: small;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}


.backButtonOff {
  position: absolute;
  opacity: 0%;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
}

.backButtonOn {
  opacity: 100%;
  border-radius: 5%;
  text-align: center;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 1s;
  margin: 5%;
  box-shadow: 1pt 1pt 1pt 1pt rgba(192, 192, 192, 0.2);
  width: 10vw;
  height: 6vw;
}

.arrowIcon {
  opacity: 55%;
  margin: -6%;
  color: #fff5ee;
  text-shadow: 1pt 1pt rgba(200, 200, 200, 0.3);
  font-size: 180%;
}
.chartToggle {
  font-size: 115%;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 0.2em;
  right: 0.3em;
  width: 11%;
  height: 11%;
  background-color: rgba(255, 131, 0, 0.6);
  opacity: 40%;
  box-shadow: 3pt 1pt 1pt 1pt rgba(5, 5, 5, 0.8);
}
.toggleIcon {
  padding-top: 10%;
}

.mapTileoff {
  display: inline-block;
  position: absolute;
  opacity: 0%;
  width: 0;
  height: 0;
  border-radius: 1%;
  top: 10%;
  left: 16.5%;
  transition-duration: 0.8s;
  transition-timing-function: ease-in;
  overflow: hidden;
}
.backgroundVideo {
  opacity: 25%;
  width: 400vw;
  position: relative;
  right: 50vw;
}

.videoDiv {
  width: 100vw;
  height: 85vh;
  position: absolute;
  overflow: hidden;
}
.mapTileon {
  display: inline-block;
  position: relative;
  opacity: 100%;
  width: 66vw;
  height: 66vw;
  background-color: rgba(50, 50, 60, 0.7);
  border-radius: 1%;
  top: 10%;
  left: 16.5%;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 1s;
  overflow: hidden;
  box-shadow: 1pt 1pt 2pt 1pt rgba(98, 81, 81, 0.3);
}

.chartTileoff {
  display: inline-block;
  position: absolute;
  opacity: 0%;
  width: 0;
  height: 0;
  border-radius: 1%;
  top: 50%;
  left: 16.5%;
  transition-duration: 0.8s;
  transition-timing-function: ease-in;
  overflow: hidden;
}
.chartTileon {
  display: inline-block;
  position: absolute;
  opacity: 100%;
  width: 66vw;
  height: 66vw;
  background-color: rgba(50, 50, 60, 0.8);
  border-radius: 1%;
  top: 50%;
  left: 16.5%;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 1s;
  overflow: hidden;
  box-shadow: 1pt 1pt 2pt 1pt rgba(230, 230, 230, 0.3);
}

.chartTile2on {
  display: flex;
  position: absolute;
  top: 8%;
  left: 10%;
  width: 80vw;
  height: 25vh;
  background-color: rgba(50, 50, 60, 0.5);
  border-radius: 1%;
  animation: boxSize 2s;
  transition-delay: 1s;
  overflow: hidden;
  box-shadow: 1pt 1pt 2pt 1pt rgba(230, 230, 230, 0.3);
}
.dataInfoPara {
  opacity: 100%;
  animation: opacityPara 13.5s;
  font-size: 90%;
  font-weight: bold;
  margin: 3%;
  width: 50%;
  color: rgba(200, 200, 200, 0.6);
  text-shadow: 1pt 1pt rgba(5, 5, 5, 0.7);
  text-align: left;
}
.dataInfoPara2 {
  opacity: 100%;
  font-size: 90%;
  font-weight: bold;
  margin: 3%;
  width: 50%;
  color: rgba(200, 200, 200, 0.6);
  text-shadow: 1pt 1pt rgba(5, 5, 5, 0.7);
  text-align: left;
}
.tileIcon {
  border: solid 1.1pt rgba(200, 200, 200, 0.6);
  width: 18vw;
  margin: 1%;
}
.IconTile {
  width: 50%;
  animation: tileOpa 2s;
}
.clickIcon {
  opacity: 0%;
  top: 40%;
  left: 10%;
  position: absolute;
  animation: clickIco 3s;
  animation-delay: 9s;
  font-size: 300%;
  font-weight: 900;
}

.chartTile2off {
  font-size: 0%;
  position: absolute;
  top: 8%;
  left: 10%;
  width: 0;
  height: 0;
  background-color: rgba(50, 50, 60, 0.5);
  border-radius: 1%;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  overflow: hidden;
  box-shadow: 1pt 1pt 2pt 1pt rgba(230, 230, 230, 0.3);
}
.chartTileThreeOff {
  opacity: 0%;
  display: flex;
  position: absolute;
  width: 0;
  height: 0;
  background-color: rgba(50, 50, 60, 0.5);
  top: 10%;
  left: 16.5%;
  transition-duration: 0.8s;
  transition-timing-function: ease-in;
  overflow: hidden;
  box-shadow: 1pt 1pt 2pt 1pt rgba(230, 230, 230, 0.3);
}
.buttonText {
  font-size: 110%;
  text-align: center;
  font-weight: bold;
  padding-top: 38%;
  text-shadow: 1pt 1pt rgba(255, 255, 255, 0.7);
}
.buttonBox {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}
.scenarioButton {
  border-radius: 50%;
  margin: 2%;
  width: 20vw;
  height: 20vw;
  background-color: rgba(255, 131, 0, 0.6);
  opacity: 40%;
  box-shadow: 3pt 1pt 1pt 1pt rgba(5, 5, 5, 0.8);
}

.chartTileThreeOn {
  opacity: 100%;
  display: flex;
  position: absolute;
  top: 10%;
  left: 16.5%;
  width: 66vw;
  height: 66vw;
  background-color: rgba(50, 50, 60, 0.5);
  border-radius: 1%;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 1s;
  overflow: hidden;
  box-shadow: 1.5pt 1.5pt 2.5pt 1.5pt rgba(230, 230, 230, 0.3);
}

.tile3on {
  position: absolute;
  opacity: 100%;
  width: 33vw;
  height: 33vw;
  background-color: rgba(50, 50, 60, 0.5);
  border-radius: 1%;
  animation: statSize 2s;
  top: 65%;
  left: 10%;
  transition-delay: 2s;
  overflow: hidden;
  box-shadow: 1pt 1pt 2pt 1pt rgba(230, 230, 230, 0.3);
}
.tile3off {
  font-size: 0%;
  position: absolute;
  opacity: 0%;
  width: 0;
  height: 0;
  background-color: rgba(50, 50, 60, 0.5);
  border-radius: 1%;
  top: 70%;
  left: 10%;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  overflow: hidden;
  box-shadow: 1pt 1pt 2pt 1pt rgba(230, 230, 230, 0.3);
}
.tileanimate {
  position: absolute;
  top: 30%;
  left: 15%;
  gap: 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.tileParaOne {
  font-size: 95%;
  font-weight: 900;
  color: rgba(200, 200, 200, 0.6);
  text-shadow: 1pt 1pt rgba(5, 5, 5, 0.7);
  position: absolute;
  top: -12%;
  text-align: left;
}

.barOne {
  animation: barchange reverse 8s infinite;
  animation-timing-function: ease-in-out;
  margin-top: 65%;
  width: 4vw;
  height: 20vw;
  background-color: rgba(255, 210, 0, 0.2);
  box-shadow: 2pt 1pt 2pt 1pt rgba(10, 10, 10, 0.2);
}
.barTwo {
  animation: barchange 8s infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
  margin-top: 60%;
  width: 4vw;
  height: 20vw;
  background-color: rgba(255, 195, 0, 0.2);
  box-shadow: 2pt 1pt 2pt 1pt rgba(10, 10, 10, 0.2);
}
.barThree {
  animation: barchange reverse 8s infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0.3s;
  margin-top: 65%;
  width: 4vw;
  height: 20vw;
  background-color: rgba(255, 175, 0, 0.2);
  box-shadow: 2pt 1pt 2pt 1pt rgba(10, 10, 10, 0.2);
}
.barFour {
  animation: barchange 8s infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0.4s;
  margin-top: 55%;
  width: 4vw;
  height: 20vw;
  background-color: rgba(255, 155, 0, 0.2);
  box-shadow: 2pt 1pt 2pt 1pt rgba(10, 10, 10, 0.2);
}
.barFive {
  animation: barchange reverse 8s infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  margin-top: 50%;
  width: 4vw;
  height: 20vw;
  background-color: rgba(255, 130, 0, 0.2);
  box-shadow: 2pt 1pt 2pt 1pt rgba(10, 10, 10, 0.2);
}
.tile4on {
  position: absolute;
  opacity: 100%;
  width: 33vw;
  height: 33vw;
  background-color: rgba(50, 50, 60, 0.5);
  border-radius: 1%;
  animation: statSize2 2s;
  top: 65%;
  right: 10%;
  transition-delay: 1s;
  overflow: hidden;
  box-shadow: 1pt 1pt 2pt 1pt rgba(230, 230, 230, 0.3);
}
.tileanimateTwo {
  position: relative;
  top: 0.8em;
  left: 0em;
  gap: 0.4em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.tileLines {
  display: flex;
  gap: 0.13em;
  flex-direction: column;
  justify-content: space-between;
}
.lineOne {
  animation: seachange2 4s infinite;
  animation-timing-function: linear;
  animation-delay: 5s;
  width: 29vw;
  height: 1.5vw;
  background-color: rgba(0, 210, 255, 0.2);
  box-shadow: 2pt 1pt 2pt 1pt rgba(10, 10, 10, 0.2);
}
.lineTwo {
  animation: seachange 4s infinite;
  animation-timing-function: linear;
  animation-delay: 4s;
  width: 28vw;
  height: 1.5vw;
  background-color: rgba(0, 195, 255, 0.2);
  box-shadow: 2pt 1pt 2pt 1pt rgba(10, 10, 10, 0.2);
}
.lineThree {
  animation: seachange 4s infinite;
  animation-timing-function: linear;
  animation-delay: 3s;
  width: 26vw;
  height: 1.5vw;
  background-color: rgba(0, 175, 255, 0.2);
  box-shadow: 2pt 1pt 2pt 1pt rgba(10, 10, 10, 0.2);
}
.lineFour {
  width: 24vw;
  height: 1.5vw;
  background-color: rgba(0, 155, 255, 0.2);
  box-shadow: 2pt 1pt 2pt 1pt rgba(10, 10, 10, 0.2);
}
.lineFive {
  width: 23.5vw;
  height: 1.5vw;
  background-color: rgba(0, 130, 255, 0.2);
  box-shadow: 2pt 1pt 2pt 1pt rgba(10, 10, 10, 0.2);
}
.lineSix {
  width: 23vw;
  height: 1.5vw;
  background-color: rgba(0, 130, 255, 0.2);
  box-shadow: 2pt 1pt 2pt 1pt rgba(10, 10, 10, 0.2);
}
.lineSeven {
  width: 22vw;
  height: 1.5vw;
  background-color: rgba(0, 130, 255, 0.2);
  box-shadow: 2pt 1pt 2pt 1pt rgba(10, 10, 10, 0.2);
}

.tileParaTwo {
  position: absolute;
  padding-left: 0.8em;
  font-size: 95%;
  font-weight: 900;
  color: rgba(200, 200, 200, 0.6);
  text-shadow: 1pt 1pt rgba(5, 5, 5, 0.7);
  text-align: left;
}

.tile4off {
  font-size: 0%;
  display: inline-block;
  position: absolute;
  opacity: 0%;
  width: 0;
  height: 0;
  background-color: rgba(50, 50, 60, 0.5);
  border-radius: 1%;
  top: 70%;
  right: 10%;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  overflow: hidden;
  box-shadow: 1pt 1pt 2pt 1pt rgba(230, 230, 230, 0.3);
}

@keyframes seachange {
  0% {
  }
  25% {
    background-color: rgba(255, 255, 0, 0.2);
  }

  100% {
  }
}

@keyframes seachange2 {
  0% {
  }
  25% {
    background-color: rgba(255, 0, 0, 0.2);
  }

  100% {
  }
}

@keyframes barchange {
  0% {
    margin-top: 70%;
  }
  20% {
    margin-top: 75%;
  }
  40% {
    margin-top: 60%;
  }
  60% {
    margin-top: 65%;
  }
  80% {
    margin-top: 50%;
  }
  100% {
    margin-top: 60%;
  }
}
@keyframes boxSize {
  0% {
    font-size: 0%;
    opacity: 0%;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: transparent;
  }
  60% {
    opacity: 10%;
  }
  100% {
    opacity: 100%;
    top: 8%;
    left: 10%;
    width: 80vw;
    height: 25vh;
    border-radius: 1%;
    background-color: rgba(50, 50, 60, 0.3);
  }
}

@keyframes boxSize2 {
  0% {
    opacity: 100%;
    width: 18em;
    height: 18em;
    top: 0px;
    left: 0px;
    border-radius: 1%;
    background-color: rgba(50, 50, 60, 0.3);
  }
  100% {
    font-size: 0%;
    opacity: 0%;
    width: 0px;
    height: 0px;
    top: 4em;
    left: 4em;
    border-radius: 50%;
    background-color: transparent;
  }
}

@keyframes statSize {
  0% {
    font-size: 0%;
    opacity: 0%;
    width: 0;
    height: 0;
    top: 65%;
    left: 10%;
    border-radius: 50%;
    background-color: transparent;
  }
  50% {
    opacity: 15%;
  }
  100% {
    font-size: 100%;
    opacity: 100%;
    width: 33vw;
    height: 33vw;
    top: 65%;
    left: 10%;
    border-radius: 0%;
    background-color: rgba(50, 50, 60, 0.3);
  }
}
@keyframes statSize2 {
  0% {
    font-size: 0%;
    opacity: 0%;
    width: 0;
    height: 0;
    top: 70%;
    right: 10%;

    border-radius: 50%;
    background-color: transparent;
  }
  50% {
    opacity: 15%;
  }
  100% {
    opacity: 100%;
    width: 33vw;
    height: 33vw;
    top: 65%;
    right: 10%;
    border-radius: 0%;
    background-color: rgba(50, 50, 60, 0.3);
  }
}
@keyframes buttonSize {
  0% {
    font-size: 0%;
    opacity: 0%;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 100%;
    width: 3em;
    height: 1.6em;
  }
}
@keyframes contentPara {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes opacityPara {
  0% {
    opacity: 100%;
  }
  60% {
    opacity: 100%;
  }

  66% {
    opacity: 0%;
  }
  75% {
    opacity: 100%;
  }
}
@keyframes tileOpa {
  0% {
    opacity: 0%;
  }
  60% {
    opacity: 100%;
  }

  66% {
    opacity: 0%;
  }
  75% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes clickIco {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 100%;
  }
  60% {
    opacity: 100%;
    top: 12%;
    left: 55%;
  }
  90% {
    opacity: 100%;
    top: 12%;
    left: 70%;
  }

  100% {
    opacity: 0%;
  }
}
